body { padding: 0; margin: 16px }   /* 余白を戻す */

/* absolute をやめる */
#unity-container {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
}

/* 中央寄せだけ残すなら */
#unity-container.unity-desktop {
  left: auto;
  top: auto;
  transform: none;
  margin: 0 auto;
}

/* #unity-canvas {
  position: static;
  display: block;
  margin: 0 auto;
} */

#unity-canvas {
  width: 960px !important;
  height: 600px !important;
}